@media only screen and (max-width: 780px){
	.tweet{
		display: none;
	}
}

/*
.darkmode .back-light{
	display: none;
}
*/
.back-button{
	color: #3498DB
}
.darkmode .back-button{
	color: #3498DB
}

.darkmode .pics{
	display: none;
}
	

/* TOGGLE NYA*/

.buka {
  cursor: pointer;
  text-indent: -9999px;
  top: 2.4px;
  width: 52px;
  height: 27px;
  background: rgb(211,211,211);
  float: right;
  border-radius: 100px;
  position: relative;
}

.buka:after {
  content: '';
  position: absolute;
  top: 3.1px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 100px;
  transition: 0.3s;
}

.tutup{
  cursor: pointer;
  text-indent: -9999px;
  top: 2.4px;
  width: 52px;
  height: 27px;
  background: #3694FF;
  float: right;
  border-radius: 100px;
  position: relative;
}

.tutup:after {
  content: '';
  position: absolute;
  top: 3px;
  right: 3px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 100px;
  transition: 0.3s;
}

label:active:after {
  width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}



#player {
	margin-top: 20px;
	margin-bottom: 40px;
	text-align: center
}
#player iframe {
	margin-bottom: -20px
}

@font-face {
        font-family: tulisan;
        src: url(../font/sf-ui.otf);
}
.other{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 10px;
	margin-top: 20px;
}

body {
	background: #faf9f5;
	width: 70%;
	min-height: 100%;
	font-size: 1.2rem;
	line-height: 1.8rem;
	font-family:"Source Sans Pro","sans-serif";
	margin: 0 auto;
	padding: 35px 5% 60px;
	color: rgb(87, 87, 87)
}
p {
	font-size: 0.9em
}
.line {
	border-bottom: 2px solid #3498DB;
	width: 100px;
	display: block;
	margin-top: 10px
}
/*
.darkmode .line {
	border-bottom: 2px solid white;
	width: 100px;
	display: block;
	margin-top: 10px
}
*/
.title {
	font-size: 1.4rem;
	font-weight: bold;
	color: #3498DB
}

.is-hidden {
	display: none
}
a {
	color: rgb(87, 87, 87)
}
header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	font-size: 20px
}
#theme {
	font-size: 25px
}
#theme:hover {
	cursor: pointer
}
body.darkmode {
	background: #181E25;
	color: rgb(227, 227, 227)
}
body.darkmode a {
	color: rgb(227, 227, 227)
}
.landing {
	display: flex;
	align-items: center;
	font-size: 1rem
}
.links p {
	margin-top: 0px
}
h3 {
	margin-bottom: 5px
}
.columns {
	display: inline-flex
}
blockquote {
	border-left: 1px solid gray;
	padding-left: 5px;
	font-style: italic
}
@media only screen and (max-width: 760px) {
	body {
		width: 90%
	}
	.landing {
		display: block;
		font-size: 0.9rem
	}
	.columns {
		display: flex
	}
	.list {
		position: relative;
		top: -5px;
		display: inline-flex
	}
	.list a {
		text-decoration: none
	}
	.search-side {
		display: none
	}
	.logo {
		position: relative;
		top: 5px
	}
	.gkiri {
		margin-bottom: -40px;
		margin-top: -70px;
		position: relative;
		top: 80px;
		right: 35px;
		margin-right: 220px
	}
	.darkm {
		position: relative;
		text-align: left;
		margin-top: -40px;
		top: 35px;
		bottom: 30px
	}
	.linkepisode a {
		left: 200px
	}
	.twitter-timeline {
		display: none
	}
	.tubuh {
		position: relative;
		top: 0px;
		right: 261px;
		margin-right: -265px
	}
	.p-footer {
		position: relative;
		margin-bottom: 15px;
		top: 90px
	}
	h1 {
		font-size: 1.5em
	}
	h2 {
		font-size: 1em;
		margin-top: -15px
	}
	iframe {
		height: 90px
	}
}
@media only screen and (max-width: 1280px) {
	iframe {
		height: 90px
	}
}
.list {
	position: relative;
	margin-top: 13px
}
a:active {
	color: black
}
.list a {
	font-weight: bold
}
.list a:hover {
	color: black
}
.darkmode .list a:hover {
	color: white
}
.list a:active {
	color: #1DA1F2
}
.link {
	text-decoration: underline
}
.btn {
	background: #1DA1F2;
	border-radius: 10px;
	padding: 10px;
	width: 50%;
	margin: 0 auto;
	display: block;
	text-align: center
}
.search-side {
	background: #313942;
	box-sizing: border-box;
	color: #fcfcfc;
	border: 0px;
	padding: 3px;
	width: 100px;
	border-radius: 5px;
	font-size: 1rem;
	margin-bottom: 20px;
	outline: none
}
.search {
	background: lightgrey;
	box-sizing: border-box;
	color: black;
	border: 0px;
	padding: 10px;
	width: 100%;
	border-radius: 10px;
	font-size: 1rem;
	margin-bottom: 20px;
	outline: none
}
.darkmode .search {
	background: #313942;
	box-sizing: border-box;
	color: #fcfcfc;
	border: 0px;
	padding: 10px;
	width: 100%;
	border-radius: 10px;
	font-size: 1rem;
	margin-bottom: 20px;
	outline: none
}
.title {
	font-size: 1.5rem;
	font-weight: bold
}
.boxes {
	display: flex;
	align-items: center;
	padding: 5px 10px;
	justify-content: space-between;
	margin-top: 10px;
}
.boxeses {
	padding: 5px 10px;
	margin-bottom: -40px;
	margin-top: 10px;
}

.boxes .pic {
	margin-right: 15px;
}

.boxes:hover {
	background: lightgrey
}
.darkmode .boxes:hover {
	background: #313942
}
.boxes_active {
	color: #A168FB
}
.boxes_active .arrow-right {
	border-left-color: #A168FB
}
.arrow-right {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 15px solid black
}
.darkmode .arrow-right {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 15px solid white
}
#content a {
	text-decoration: underline
}
.boxes {
	text-decoration: none
}
/*footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	position: fixed;
	bottom: 0px;
	left: 0px;
	transform: translate(-50%);
	margin-left: 50%;
	padding: 8px 5%;
	background: lightgrey;
	width: 60%;
	color: white
}
footer a{
	text-decoration: none;
}
*/
.footer {
	display: flex;
	font-size: 1rem;
	align-items: center
}

.img-small {
	width: 80px;
	height: 80px;
	border-radius: 50%
}
.footer img {
	margin-right: 20px
}
.darkmode footer {
	justify-content: space-between;
	align-items: center;
	text-align: center;
	position: fixed;
	bottom: 0px;
	left: 0px;
	transform: translate(-50%);
	margin-left: 50%;
	padding: 8px 5%;
	background: #2A343E;
	width: 60%;
	color: white
}
@media only screen and (max-width: 600px) {
	body {
		max-width: 90%;
		margin: 0 auto
	}
}